

.season-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(0, 0, 0);
    animation: load-in 1s;
    width: 100vw;
    height: 100vh;
    background-position: right;
    position: absolute;
    right:0px;
}


#poem {
    color: rgb(172, 216, 240);
    text-shadow: rgb(0, 60, 255) 1px 0 10px;
    
    text-align: center;
    line-height: 1em;
    font-size: 3vh;
    position: relative;

    background-size:cover;
    background-repeat: no-repeat;
    
    width: 63%;
    height:200px;
    min-height: 426px;
    padding-right: 10px;
    
    margin-top:10vh;
	transform-origin: center right;
    transform: perspective(100px) rotateY(-5deg) rotateX(1deg) translate(30%, 40px);

    overflow: auto;


    scrollbar-color: rgb(172, 216, 240) rgba(0, 60, 255, 0.116);
    scrollbar-width:auto;
}
#poem p {
    
    width:100%
}


#poem ::after {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: aqua;
}

#poem-spacer {
    padding-top: 200px;
    max-height: 10vh;
}

.manual {
    
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    cursor: pointer;
    min-height: 526px;
    position: relative;
    
}

#door {
    animation: load-in 0.5s;

    background-image: url("assets/sample.png");
    background-position: center;
    background-size:cover;
    position: absolute;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 1052px;

    right: 0px;
    padding: 0px;
    width: 1000px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}


@keyframes load-in {
    0% {filter: brightness(0%);}
    10% { filter: brightness(0%);}
    100% {filter: brightness(100%);}
    
  }

.schmorplorp {
    background-image: url("assets/schmorplorp.png");
}

.winter {
    background-image: url("assets/winter.png");
}

.spring {
    background-image: url("assets/spring.png");
}

.pollination {
    background-image: url("assets/pollination.png");
}

.fall {
    background-image: url("assets/fall.png");
}

.burning {
    background-image: url("assets/burning.png");
}

.ash {
    background-image: url("assets/ash.png");
}




.schmorplorp #door{
    background-image: url("assets/schmorplorp_door.png");
}

.winter #door {
    background-image: url("assets/winter_door.png");
}

.spring #door {
    background-image: url("assets/spring_door.png");
}

.pollination #door {
    background-image: url("assets/pollination_door.png");
    color: yellow  !important;
}

.fall #door {
    background-image: url("assets/fall_door.png");
}


.burning #door {
    background-image: url("assets/burning_door.png");

}

.ash #door {
    background-image: url("assets/ash_door.png");

}

