

.season-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(0, 0, 0);
    animation: load-in 0.5s;
}


@keyframes load-in {
    0% { backdrop-filter: brightness(0%);}
    10% { backdrop-filter: brightness(0%);}
    100% { backdrop-filter: brightness(100%);}
    
  }

.schmorplorp {
    background-image: url("assets/schmorplorp.png");
}

.winter {
    background-image: url("assets/winter.png");
}

.spring {
    background-image: url("assets/spring.png");
}

.pollination {
    background-image: url("assets/pollination.png");
}

.fall {
    background-image: url("assets/fall.png");
}

.burning {
    background-image: url("assets/burning.png");
}

.ash {
    background-image: url("assets/ash.png");
}