.projection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.tile {
    width: 15vw;
    height: 10vw;
    color:wheat;
    background-clip: content-box;
    border-style:solid;
    border-width: 3vw 3vw 3vw 3vw;

    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

.tile div {
    font-weight: normal;
    margin-bottom: 3vw;
}

.red {
    border-image: url('assets/red_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #7F2217;
    
}

.yellow {
    border-image: url('assets/yellow_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #87600C;
}

.orange {
    border-image: url('assets/orange_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #A55201;
}

.brown {
    border-image: url('assets/brown_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #582C0F;
}


