

.sand-bg {
    height: 100vh;
    width: 100vw;
    background-image: url('assets/fennecfox_bg.svg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    
}

.projection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    filter: drop-shadow(1.5vw 1.5vw 10vw #f9371e60);
    backdrop-filter: blur(10px);
    width: 60vw;
    bottom: 10px;
}

.tile {
    width: 10vw;
    height: 6vw;
    color:wheat;
    background-clip: content-box;
    border-style:solid;
    border-width: 3vw 3vw 3vw 3vw;

    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
}

.tile div {
    font-weight: normal;
    margin-bottom: 1vw;
}

.tile input {
    font-weight: bold;
    text-align: center;
    background-color: #582c0f00;
    font-size: 100%;
    max-width: 100%;
    margin-top: 20%;
    color:black;
    border-width: 0px;
    background-color: rgb(206, 152, 52);
    mix-blend-mode: color-dodge;
    
}

.red {
    border-image: url('assets/red_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #7F2217;
    
}

.yellow {
    border-image: url('assets/yellow_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #87600C;
}

.orange {
    border-image: url('assets/orange_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #A55201;
}

.brown {
    border-image: url('assets/brown_border.svg');
    border-image-slice: 218 213 195 231;
    background-color: #582C0F;
}


