body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

button {

    font-family: 'Courier New', Courier, monospace;
}


body ::selection {
    background-color: white;
    color: black
}