body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

button {

    font-family: 'Courier New', Courier, monospace;
}

@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1;}
    
  }

  @keyframes fade-out {
      0% { opacity: 1;}
      100% { opacity: 0;}
      
    }

body ::selection {
    background-color: white;
    color: black
}