body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

button {

    font-family: 'Courier New', Courier, monospace;
}


body ::selection {
    background-color: white;
    color: black
}


.hint-emphasis {
    font-weight: bold;
    color:rgb(253, 76, 76)
}


.interactable-item::after {
    content: url('animated_notif.webp');
    zoom: calc(0.1);
    position: absolute;
    pointer-events: none
    
}