

#target {
    border-radius: 25px;
    height: 50px;
    background-color: rgb(6, 93, 6);
    position: absolute;
    z-index: inherit;
    box-shadow: inset 0em 0em 70px rgb(13, 255, 0);
    transition: all .5s;

}

#attack-bar {
    background: rgb(5, 69, 16);
    height: 50px;
    box-shadow: inset 0em 0em 70px rgb(0, 6, 22);
    border-radius: 25px;
    overflow: hidden;
    border: solid;
    border-color: rgb(18, 190, 9);
    position:static;
    
}

#aim {
    width: 0.5%;
    height: 50px;
    background-color: rgb(255, 246, 69);
    position: absolute;
}
