

#target {
    border-radius: 25px;
    height: 50px;
    width: 0%;
    background-color: rgb(6, 93, 6);
    z-index: inherit;
    box-shadow: inset 0em 0em 70px rgb(13, 255, 0);
    transition: all .25s ease-out;

}

#attack-bar {
    background: rgb(5, 69, 16);
    height: 50px;
    box-shadow: inset 0em 0em 70px rgb(0, 6, 22);
    border-radius: 5px;
    overflow: hidden;
    border: solid;
    border-color: rgb(18, 190, 9);
    position:absolute;
    width: 99vw;
    bottom: 5vh;
    position:fixed;
    
}

#aim {
    width: 0.5%;
    height: 50px;
    background-color: rgb(255, 246, 69);
    transform: translate(0px, -100%);
    box-shadow: 0px 0px 20px rgb(13, 255, 0);
    transition: transform 1s;
}

 
.fishing-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/bg.png');
    background-attachment: fixed;
    background-position: center;
}



.K9-RETRIEVAL-UNIT {
    color: rgb(40, 225, 59) !important;
    font-style: oblique  !important;
    background: linear-gradient(0deg, rgb(2, 37, 2) 1%, rgb(0, 0, 0)66%)  !important;
    border-color: rgb(40, 225, 59)  !important;
    border-style: solid  !important;
    font-family: 'Courier New', Courier, monospace  !important;
    text-transform:capitalize;

    transform: translate(0px, -12vh);
    
}



.drop {
    background-image: url("assets/button-up.png");
    transition: 0.1s filter ease-out;
    
}
.drop:hover {
    background-image: url("assets/button-up.png");
    filter: brightness(1.5);
    transition: 0.2s filter ease-out;

}
.magnetized {
    background-image: url("assets/button-dwn.png");
    transition: 0.2s filter ease-out;
    filter: hue-rotate(100deg) brightness(0.75);
}
.busy {
    background-image: url("assets/button-dwn.png");
    transition: 0.9s filter ease-out;
}




.drop-button {
    background-size:contain;
    width: 15vh;
    height: 11vh;
    transform: translate(18vh, -3vh);
    background-repeat: no-repeat;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    cursor: pointer;
}


.dredger {
    background-image: url("assets/pedistal.png");
    height: 40vh;
    width: 50vh;
    background-repeat: no-repeat;
    background-size:contain;
    position:absolute;
    bottom:0px;
    background-position: center;
    
    min-width: 200px;


}


.manual {
    background-image: url("assets/manual.png");
    height: 8vh;
    width: 30vh;
    font-size: 5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(95, 255, 47);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    text-align: center;
    padding-top: 3vh;
    margin-top: 3vh;
    cursor: pointer;
    filter: brightness(.4);
    margin-left: auto;
    margin-right: auto;
    transition: filter 1s ease-out;

}


.manual:hover {
    transition: filter .5s ease-in;
    filter: brightness(1.75);

}

