

#target {
    border-radius: 25px;
    height: 50px;
    background-color: rgb(6, 93, 6);
    z-index: inherit;
    box-shadow: inset 0em 0em 70px rgb(13, 255, 0);
    transition: all .25s ease-out;

}

#attack-bar {
    background: rgb(5, 69, 16);
    height: 50px;
    box-shadow: inset 0em 0em 70px rgb(0, 6, 22);
    border-radius: 5px;
    overflow: hidden;
    border: solid;
    border-color: rgb(18, 190, 9);
    position:absolute;
    width: 99vw;
    bottom: 10vh;
    
}

#aim {
    width: 0.5%;
    height: 50px;
    background-color: rgb(255, 246, 69);
    transform: translate(0px, -100%);
    box-shadow: 0px 0px 20px rgb(13, 255, 0);
    transition: transform 1s;
}

.drop-button {
    width:20vh;
    height: 100px;
    position:absolute;
    bottom: 20vh;
    right: 10vw;
}

 
.fishing-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('bg.png');
    background-attachment: fixed;
    background-position: center;
}