
.view {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0px;
    background-color: #140d3f;

    background-repeat: no-repeat;
    background-image: url('assets/hiking_bg.svg');
    background-size: cover;
    background-position: center bottom;
}

.pilgrim-bg {
    height: 100vh;


    display: flex;
    align-items:flex-end;
    justify-content:  center;
    flex-flow: row-reverse;
}


#pilgrim {
    background-position: right;
    height:90vh;
    width:90vh;
    bottom: 0px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('assets/hiker_interactable.svg');

}


#pigrim-findings {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 20vw;
    flex-flow: column;
    justify-content: center;
}



#pigrim-findings div {
    background-color: #6ABEB8;
    padding:20px;
    margin:10px;
    font-size: 3vh;
    border-image-source: url('assets/hiking_border.svg');
    border-image-slice: 500 500 500 500;
    border-image-width: 30px 30px 30px 30px;
    background-clip: content-box;
}



.interactable-item::after {
    transform: translate(0px,0px);
    filter:hue-rotate(40deg) brightness(180%);
}
