
.kenken-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #120100;
}

#view {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0px;
}

.agent-bg {
    background-repeat: no-repeat;
    background-image: url('assets/KenKenBG.svg');
    background-size: auto 100vh;
    background-position: right bottom;
    min-height: 100vh;
    width: 95vw;
    display: flex;
    min-width: fit-content;
    flex-wrap:wrap;
    justify-content: space-around;

}


#agent {
    min-width: 300px;
    height:90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/KenKendemo.svg');

    aspect-ratio: 1/1.57;
    align-self: flex-end;

}


.display {
    border-image-source: url('assets/KenKenWindow2.svg');
    border-image-slice: 167 42 160 310;
    border-image-width: 15vh 6vh 15vh 30vh;
    padding: 15vh 6vh 15vh 30vh;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    margin-right: calc(30vh - 6vh);

    max-width: 100vh;
    width: 60vh;

    background-color: black;
    background-clip: content-box;

    color:wheat;
    align-self: center;
    margin-top: 2vh;
    
    height:60vh;
    

}



.interactable-item::after {
    transform: translate(40vh, 70vh);
    filter: hue-rotate(20deg) brightness(200%);
}

