

.tile {
    align-content: center;
    width: 5vw;
    aspect-ratio: 1/1;
    background-size: cover;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.green-accent {
    color: rgb(0, 255, 0);
}
.orange-accent {
    color: rgb(255, 136, 0);
}
.blue-accent {
    color: #74b0ff;
}
.red-accent {
    color: rgb(255, 0, 0);
}
.yellow-accent {
    color: rgb(255, 251, 0);
}
.purple-accent {
    color: rgb(188, 72, 255);
}
.white-accent {
    color: rgb(204, 204, 204);
}


.green {
    background-image: url('assets/green.svg');
}
.orange {
    background-image: url('assets/orange.svg');
    color:rgb(255, 255, 255)
}
.blue {
    background-image: url('assets/blue.svg');
    color:aliceblue
}
.red {
    background-image: url('assets/red.svg');
    color:aliceblue
}
.yellow {
    background-image: url('assets/yellow.svg');
}
.purple {
    background-image: url('assets/purple.svg');
    color:aliceblue
}
.white {
    background-image: url('assets/white.svg');
}


.paper {
    width:50vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


#blob {

    background-image: url('assets/blob-npc.svg');
    width: 60vw;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
}



.blob-bg {
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url('assets/blob_bg.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-content: center;
}


.interactable-item::after {
    transform: translate(0vh, 0vh);
    filter: hue-rotate(210deg) brightness(2.5);
    
}
